---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-db
  namespace: unifi
  labels:
    app.kubernetes.io/name: unifi-db
    app.kubernetes.io/part-of: unifi
    app.kubernetes.io/component: database
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: unifi-db
      app.kubernetes.io/part-of: unifi
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        app.kubernetes.io/name: unifi-db
        app.kubernetes.io/part-of: unifi
        app.kubernetes.io/component: database
    spec:
      automountServiceAccountToken: false
      containers:
      - name: unifi-db
        image: docker.io/mongo:8.2.1@sha256:e64a984d36b24419327c558b49a9100cf78191706222da6a7c8cf56a743ad3db
        imagePullPolicy: IfNotPresent
        lifecycle:
          preStop:
            exec:
              command: [/usr/bin/mongosh, --port, '27017', --eval, "db.adminCommand({'shutdown': 1})"]
        livenessProbe:
          exec:
            command: [/usr/bin/mongosh, --port, '27017', --eval, "db.adminCommand('ping')"]
          periodSeconds: 60
        ports:
        - name: mongodb
          containerPort: 27017
          protocol: TCP
        readinessProbe:
          tcpSocket:
            port: 27017
          periodSeconds: 60
        startupProbe:
          exec:
            command: [/usr/bin/mongosh, --port, '27017', --eval, "db.adminCommand('ping')"]
          failureThreshold: 24
          initialDelaySeconds: 10
          periodSeconds: 5
        volumeMounts:
        - name: mongo-data-volume
          mountPath: /data/db
        - name: init-scripts-volume
          mountPath: /docker-entrypoint-initdb.d/init-mongo.js
          readOnly: true
          subPath: init-mongo.js
      initContainers:
      - name: init-mongodb-init-script
        image: ghcr.io/fluxcd/flux-cli:v2.7.5@sha256:3a4f9b0a26c26db8193c476e0abe33c32187eae8ce7a0a604d38a51783544946
        command:
        - "/bin/sh"
        - "-c"
        - "cat /templates/init-mongo.js | flux envsubst > /docker-entrypoint-initdb.d/init-mongo.js"
        env:
        - name: MONGO_USER
          valueFrom:
            secretKeyRef:
              key: unifi_db_user
              name: unifi-secrets
              optional: false
        - name: MONGO_PASS
          valueFrom:
            secretKeyRef:
              key: unifi_db_password
              name: unifi-secrets
              optional: false
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
        volumeMounts:
        - name: script-templates-volume
          mountPath: /templates
        - name: init-scripts-volume
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: mongo-data-volume
        persistentVolumeClaim:
          claimName: unifi-db-data
      - name: script-templates-volume
        configMap:
          name: unifi-db-script-template
      - name: init-scripts-volume
        emptyDir:
          medium: Memory
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - "amd64"
