---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wyoming-piper
  namespace: home-automation
  labels:
    app.kubernetes.io/name: wyoming-piper
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: wyoming-piper
  template:
    metadata:
      labels:
        app.kubernetes.io/name: wyoming-piper
    spec:
      containers:
      - name: wyoming-piper
        image: rhasspy/wyoming-piper:2.1.2@sha256:54c511aa81d3b9f1e02216e30d08c948bd0b145f3eea1e7b0461c8c4645e2864
        args: ["--voice", "en_US-lessac-medium"]
        livenessProbe:
          tcpSocket:
            port: 10200
          initialDelaySeconds: 30
          periodSeconds: 10
        ports:
        - containerPort: 10200
        readinessProbe:
          tcpSocket:
            port: 10200
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 15m
            memory: 128Mi
        volumeMounts:
        - name: data
          mountPath: /data
        - name: dev-shm
          mountPath: /dev/shm
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: wyoming-piper-data
      - name: dev-shm
        emptyDir:
          medium: Memory
          sizeLimit: 256Mi
