---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared-doh
  namespace: dns
  labels:
    app.kubernetes.io/name: cloudflared-doh
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudflared-doh
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cloudflared-doh
    spec:
      automountServiceAccountToken: false
      containers:
      - name: cloudflared-doh
        env:
        - name: PORT
          value: "53"
        - name: UPSTREAM1
          value: https://1.1.1.2/dns-query
        - name: UPSTREAM2
          value: https://1.0.0.2/dns-query
        - name: METRICS
          value: 0.0.0.0:8080
        - name: MAX_UPSTREAM_CONNS
          value: "5"
        image: visibilityspots/cloudflared:v2026.1.1@sha256:a000c2f139108084c00449ea96c50e7abd2873af4507797cda161c0e94a8eca7
        imagePullPolicy: IfNotPresent
        livenessProbe:
          tcpSocket:
            port: 53
          initialDelaySeconds: 5
          periodSeconds: 15
        ports:
        - name: doh-tcp
          containerPort: 53
          protocol: TCP
        - name: doh-udp
          containerPort: 53
          protocol: UDP
        - name: doh-metrics
          containerPort: 8080
          protocol: TCP
        readinessProbe:
          exec:
            command: [dig, +short, +retry=0, '@127.0.0.1', cloudflare.com]
          initialDelaySeconds: 5
          periodSeconds: 60
          timeoutSeconds: 10
        securityContext:
          allowPrivilegeEscalation: true
          capabilities:
            add:
            - NET_BIND_SERVICE
      dnsConfig:
        nameservers:
        - 127.0.0.1
        - ${dns_fallback:=1.1.1.1}
      dnsPolicy: None
      tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
