---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: downloaders
  labels:
    app.kubernetes.io/name: sonarr
  annotations:
    secret.reloader.stakater.com/reload: ${db_name:=downloaders-db}-${db_suffix_current:=default}-app
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: sonarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sonarr
    spec:
      automountServiceAccountToken: false
      containers:
      - name: sonarr
        env:
        - name: PUID
          value: ${quote}${media_writer_uid}${quote}
        - name: PGID
          value: ${quote}${media_writer_gid}${quote}
        - name: TZ
          value: Etc/UTC
        - name: SONARR__APP__INSTANCENAME
          value: Sonarr
        - name: SONARR__APP__THEME
          value: dark
        - name: SONARR__AUTH__APIKEY
          valueFrom:
            secretKeyRef:
              name: downloader-api-keys
              key: sonarr_api_key
        - name: SONARR__AUTH__METHOD
          value: External
        - name: SONARR__AUTH__REQUIRED
          value: DisabledForLocalAddresses
        - name: SONARR__LOG__DBENABLED
          value: "False"
        - name: SONARR__LOG__LEVEL
          value: info
        - name: SONARR__POSTGRES__HOST
          value: downloaders-db.downloaders.svc.cluster.local
        - name: SONARR__POSTGRES__PORT
          value: "5432"
        - name: SONARR__POSTGRES__MAINDB
          value: sonarr
        - name: SONARR__POSTGRES__USER
          valueFrom:
            secretKeyRef:
              name: ${db_name:=downloaders-db}-${db_suffix_current:=default}-app
              key: username
        - name: SONARR__POSTGRES__PASSWORD
          valueFrom:
            secretKeyRef:
              name: ${db_name:=downloaders-db}-${db_suffix_current:=default}-app
              key: password
        image: ghcr.io/linuxserver/sonarr:4.0.16@sha256:60e5edcac39172294ad22d55d1b08c2c0a9fe658cad2f2c4d742ae017d7874de
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /ping
            port: 8989
        ports:
        - name: sonarr
          containerPort: 8989
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /ping
            port: 8989
        resources:
          requests:
            cpu: 15m
            memory: 298Mi
        securityContext:
          capabilities:
            add:
            - CHOWN
            - SETGID
            - SETUID
            drop:
            - ALL
        volumeMounts:
        - mountPath: /config
          name: sonarr-data
        - mountPath: /data
          name: sonarr-media
        - mountPath: /config/logs
          name: sonarr-logs
        - mountPath: /tmp
          name: sonarr-temp
      volumes:
      - name: sonarr-data
        persistentVolumeClaim:
          claimName: sonarr-data
      - name: sonarr-media
        persistentVolumeClaim:
          claimName: media
      - name: sonarr-logs
        emptyDir: {}
      - name: sonarr-temp
        emptyDir: {}
