---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
  namespace: home-automation
  labels:
    app.kubernetes.io/name: home-assistant
  annotations:
    secret.reloader.stakater.com/reload: home-automation-secrets
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: home-assistant
  template:
    metadata:
      labels:
        app.kubernetes.io/name: home-assistant
    spec:
      automountServiceAccountToken: false
      containers:
      - name: home-assistant
        args: ["--log-file", "/dev/stdout"]
        env:
        - name: TZ
          value: US/Eastern
        image: ghcr.io/home-operations/home-assistant:2025.12.5@sha256:6be0843b06ad82233639e56f261b2377f78df140e3d16d2d08b2c29c8889b697
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /auth/providers
            port: 8123
        ports:
        - name: home-assistant
          containerPort: 8123
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /auth/providers
            port: 8123
        resources:
          requests:
            cpu: 64m
            memory: 512Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        startupProbe:
          httpGet:
            path: /auth/providers
            port: 8123
        volumeMounts:
        - mountPath: /config
          name: home-assistant-data
        - mountPath: /config/secrets.yaml
          name: home-assistant-secrets
          readOnly: true
          subPath: homeassistant_secrets.yaml
        - mountPath: /tmp
          name: home-assistant-temp
      - name: code-server
        args: [
          "--auth", "none",
          "--user-data-dir", "/home/coder/.vscode",
          "--extensions-dir", "/home/coder/.vscode",
          "--port", "8080",
          "--disable-telemetry",
          "/config"
        ]
        image: ghcr.io/coder/code-server:4.107.0@sha256:4b622c4cd1b0f559fec0df67fcf09042d63e9ce84c575102066afd9511695627
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
        ports:
        - name: code-server
          containerPort: 8080
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        startupProbe:
          httpGet:
            path: /healthz
            port: 8080
        volumeMounts:
        - mountPath: /home/coder
          name: home-assistant-data
          subPath: .coder
        - mountPath: /config
          name: home-assistant-data
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
        seccompProfile:
          type: RuntimeDefault
      volumes:
      - name: home-assistant-data
        persistentVolumeClaim:
          claimName: home-assistant-data
      - name: home-assistant-secrets
        secret:
          secretName: home-automation-secrets
      - name: home-assistant-temp
        emptyDir: {}
