---
# yamllint disable rule:line-length
name: diff-changes

on:
  pull_request:
    branches: ["main"]
    paths:
    - '.github/workflows/diff-changes.yaml'
    - 'apps/**/*.yaml'
    - 'ci/**/*.yaml'
    - 'infrastructure/**/*.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  diff:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        resource:
        - helmrelease
        - kustomization

    steps:
    - name: Checkout after branch
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      with:
        path: after
        persist-credentials: false

    - name: Checkout before branch
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      with:
        path: before
        persist-credentials: false
        ref: "${{ github.event.repository.default_branch }}"

    - name: Flux Diff
      id: flux-diff
      uses: ppat/homelab-ops-actions/actions/flux-diff@35903fc15a8d39b5c6d5eb51350324a227a5a814 # v1.0.1
      with:
        log_level: DEBUG
        other_params: ${{ matrix.resource == 'helmrelease' && '--api-versions monitoring.coreos.com/v1' || '' }}
        path_after: after/ci/test
        path_before: before/ci/test
        resource_type: ${{ matrix.resource }}
        sources: "test-source=./"

    - name: Comment on PR w/ diff
      uses: ppat/homelab-ops-actions/actions/comment-on-pr@35903fc15a8d39b5c6d5eb51350324a227a5a814 # v1.0.1
      if: ${{ steps.flux-diff.outputs.diff != '' }}
      continue-on-error: true
      with:
        message: |
          `````diff
          ${{ steps.flux-diff.outputs.diff }}
          `````
        message_id: "${{ github.event.pull_request.number }}/${{ matrix.resource }}"
        token: ${{ secrets.GITHUB_TOKEN }}
