---
# yamllint disable rule:line-length
name: release

on:
  push:
    branches:
    - main
    paths:
    - 'apps/**'
    - 'components/**'
    - 'infrastructure/**'
    - '.release-please-manifest.json'
    - 'release-please-config.json'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

permissions: {}

jobs:
  release:
    uses: ppat/github-workflows/.github/workflows/release-please.yaml@0bf8cd1eeb8e6e9f67fab279bc3be57e0be29c50 # v3.2.0
    secrets:
      app_id: ${{ secrets.HOMELAB_BOT_APP_ID }}
      app_private_key: ${{ secrets.HOMELAB_BOT_APP_PRIVATE_KEY }}
