---
# yamllint disable rule:line-length
name: test-apps-misc

on:
  pull_request:
    paths:
    - '.github/workflows/test-apps-misc.yaml'
    - '.github/kind-cluster-single-node.yaml'
    - 'ci/test/apps-misc/**'
    - 'apps/subsystems/misc/**'
    - '!apps/subsystems/misc/**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test-apps-misc:
    uses: ppat/github-workflows/.github/workflows/chainsaw-test.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      test_path: ./ci/test/apps-misc
      chainsaw_config: ./ci/test/chainsaw/.chainsaw.yaml
      kind_config: .github/kind-cluster-single-node.yaml
