---
# yamllint disable rule:line-length
name: test-infrastructure-database

on:
  pull_request:
    paths:
    - '.github/workflows/test-infrastructure-database.yaml'
    - '.github/kind-cluster-multi-node.yaml'
    - 'ci/test/infra-database/**'
    - 'infrastructure/subsystems/database-core/**'
    - '!infrastructure/subsystems/database-core/**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test-infrastructure-database:
    uses: ppat/github-workflows/.github/workflows/chainsaw-test.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      test_path: ./ci/test/infra-database
      chainsaw_config: ./ci/test/chainsaw/.chainsaw.yaml
      kind_config: .github/kind-cluster-multi-node.yaml
